* {
  font-family: 'arial black', Helvetica, verdana, monospace, sans-serif;
  letter-spacing: 0.2rem;
  margin: 0;
  padding: 0;
  color: #FFF;
  overflow: hidden;
}

body {
  position: relative;
}

canvas#canvas {
  display: block;
  background: #000;
}

span#logo {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: #CC2F3B;
  margin-right: 0.4rem;
}

h1 {
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  font-size: 2.4rem;
}

h2 {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 1.6rem;
  height: 100%;
  text-align: center;
  font-size: 1rem;
  padding: 0.8rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}